body {
  background-color: #EEE5CE;
  font-size: 2em;
  font-family: BookSanity;
  text-rendering: optimizeLegibility;
  width: 100%;
  margin: 0.5em;
}

ul { margin-bottom: 1em; }

#characters th, .character td {
	padding: 0;
	text-align: center;
	vertical-align: middle;
	border: 0.25em solid transparent;
}

.character td.left { text-align: left; }

#characters td.name {
  font-family: MrJeeves;
  font-weight: 800;
  color: #58180D;
}
#characters .athack {
	display: inline-block;
	font-size: 1.2em;
    border-radius: 2em;
	height: 1.5em;
	padding: 0 0.3em;
    border: 5px solid #58180D;
    color: #EEE5CE;
    background-color: #58180D;
	text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
#characters img { height: 2em; }
#characters .hitdie * {
	display: inline-block;
	font-size: 1em;
}

#characters .die {
	font-size: 0.8em;
	color: grey;
}

#characters button {
	min-width:  4em;
}

.character input[type=number] {
	width: 1.8em;
}

/* always show spinners */
input[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}

input[type=number] {
	background: inherit;
	border: 0;
  font-size: 1em;
}

input.result[type="number"]::-webkit-outer-spin-button,
input.result[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/* bigger checkboxes */
input[type=checkbox] {
	transform: scale(2);
}

#healingkits input {
	width: 2em;
}

#hp { width: 2em; }

#longrest { width: 100%; }


button {
    font-size: 1em;
    color: #EEE5CE;
    background-color: #58180D;
    border: 2px solid #58180D;
    border-radius: 0.25em;
}

button:active {
    background-color: #EEE5CE;
    color: #58180D;
}

button {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
